#page-container {
	position: relative;
	min-height: 100vh;
}

a {
	font-family: helvetica;
}

.topnav {
	background-color: white;
	overflow: hidden;
}

.navmen {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;}

.signin {
	border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    color: #FFFFFF;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}


.topnav a{
	float: left;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	font-size: 13px;
}

.topnav a:hover {
	text-decoration: underline;
}
.topnav-right {
	float: right;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
}

.search {
	background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    margin-top: 30px;
}

.btnsect {
	display: block;
    text-align: -webkit-center;
    margin-top: 20px
}

.buttons {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.footer {
	position: absolute;
	background-color: #F2F2F2;
	overflow: hidden;
	bottom: 0;
	width: 100%;
}

.footer a {
	float: left;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	font-size: 13px;
}

.footer-right {
	float: right;
}